legend
{
  font-size: 20px;
  color: #2c286f;
  font-weight: bold;
}

fieldset
{
  width: 1000px;
  padding: 10px;
}

input
{
  margin-left: 100px;
}

label
{
  font-weight: bold;
}

input[type=email], input[type=text], textarea
{
  border: 1px solid #333;
  font-size: 90%;
  border-radius: 7px;
}

input:invalid
{
  border-color: #900;
  background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

button
{
  float: right;
  margin-bottom: 15px;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 10rem;
  transition: transform 300ms;
  font-weight: bold;
  text-align: center;
}

button:hover
{
  transform: scale(1.15);
  background: linear-gradient(90deg, rgba(229,247,255,1) 0%, rgba(66,132,156,1) 100%);
}
