* {
     text-decoration: none;
     box-sizing: border-box;
  }
  
@font-face {
     font-family: 'Montserrat';
     src: url('../montserrat/Montserrat-Regular.ttf') format('truetype');
}





/*Header*/

header {
     min-height: 100vh;
     font-size: 20px;
 }

.container_header {
     background: #001845;
     height: 80vh;
     width: 100%;
 }

 @media screen and (max-width: 600px) {
 .container_header {
          height: 85vh;
     }
 }

.background_header {
     width: 100%;
     position: absolute;
     left: 0;
     bottom: 5%;
     display: block;
}

.contenu_header {
     position: relative;
     z-index: 1000;
}

.nom_prenom {
     color: #E8E8E8;
}


body{
     margin: 0;
     font-family: 'Montserrat', sans-serif;
}


h1 {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 25px;
    font-weight: bold;
  }
  
h2 {
     font-size: 30px;
  }
  
h3 {
     font-size: 25px;
 }
  
h2, h3{
    text-align: center;
    margin-top: 25px;
    margin: 0;
}
  
h1, h2, h3 {
    color: rgb(37,113,255);
}
  
a {
     color: #0466c8;
}

.Titre_Prem_Stage, .Titre_Deux_Stage{
    text-align: center;
    margin-top: 250px;
    text-decoration: none;
    font-size: 50px;
    font-weight: bold;
    color: #E8E8E8;
}

.nom_prenom {
     position: relative;
     padding: 1rem 0 0.5rem;
     margin: 0 1.5rem;
     color: #E8E8E8;
     text-decoration: none;
     display: inline-flex;
     list-style: none;
     margin: 0;
}
   


/*ligne blanche en dessous de mon nom et prenom*/

.nom_prenom{
     position: relative;
     padding: 1rem 0 0.5rem;
     margin: 0 1.5rem;
     color: #E8E8E8;
     text-decoration: none;
     display: inline-flex;
     list-style: none;
     margin: 0;
}
   
   
.nom_prenom::after{
     content: "";
     position: absolute;
     left: 50%;
     bottom: 0;
     transform: translateX(-50%) scaleX(0);
     transform-origin: 50% 50%;
     width: 100%;
     height: 1px;
     background: white;
     transition: transform 250ms;
}

.nom_prenom:hover::after{
     transform: translateX(-50%) scaleX(1);
}





/*Carte google*/
.maps_stage {
     padding: 20px 20px 20px 20px;
     width: 100%;
}




.taches_stage1, .taches_stage2 {
     padding: 0 10px 300px 10px;
     width: 100%;
}

.text_JDB, .WAH{
     width: 900px;
     height: 450px;
     padding: 20px 20px 20px 20px;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
}

.histoire_JDB, .QSN_WAH {
     display: flex;
     flex-direction: column;
}

h4 {
     color: #0466c8;
     font-size: 30px;
     text-align: center;
}



/*Partie du site web*/

.site_web_JDB {
     width: 550px;
     height: 300px;
     padding: 20px;
     margin-top: 100px;
     margin: auto;
}

.lien_site_JDB  {
     font-size: 14px;
     font-style: italic;
     text-align: center;
     color: #0466c8;
}




/*Partie du Quizz*/

.Quizz_JDB {
     width: 550px;
     height: 400px;
     padding: 20px;
     margin-top: 1000px;
     margin: auto;
}

@media screen and (max-width: 600px) {
     .Quizz_JDB {
          display: none;
     }
}

#SurveyMonkey {
     font-size: 14px;
     font-style: italic;
     color: #0466c8;
}


/*Partie sur les réseaux sociaux*/

.reseau_sociaux_JDB {
     width: 550px;
     height: 200px;
     padding: 20px;
     margin-top: 100px;
     margin: auto;
}

.lien_facebook_JDB {
     font-size: 14px;
     font-style: italic;
     text-align: center;
     color: #0466c8;
}

/*--------------------------------------------------------2ème stage------------------------------------------------*/


/*Partie Kathekon*/

.kathekon p{
     width: 550px;
     height: 300px;
     padding: 20px;
     /*margin-top: 60px;
     margin-left: 200px;*/
     margin: auto;
}

.lien_site_Kathekon{
     padding: 20px;
     margin-left: 35%;
}


.Kathekon_1_1{
     width: 550px;
     height: 300px;
     margin: auto;
     margin-bottom: -100px;
}

.Blog_Kathekon{
     height: 400px;
     width: 550px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Kathekon_1_2{
     width: 550px;
     margin-top: 100px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.Partenaire_Kathekon{
     height: 300px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Kathekon_1_3{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.Texte_Partenaire_Kathekon{
     height: 200px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Kathekon_1_4{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.Footer_Kathekon{
     height: 250px;
     width: 550px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Kathekon_1_5{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.Header_Kathekon{
     height: 400px;
     width: 800px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Kathekon_1_6{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.Texte_Kathekon{
     height: 500px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}





.VM_Automation p{
     width: 550px;
     height: 300px;
     padding: 20px;
     /*margin-top: 60px;
     margin-left: 200px;*/
     margin: auto;
}


.VMA_2_1, .Pascalis_3_1{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.card_realisation_VMA{
     height: 400px;
     width: 600px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.VMA_2_2, .Pascalis_3_2{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.sanofi_VMA{
     height: 450px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.VMA_2_3{
     width: 550px;
     height: 200px;
     margin: auto;
     margin-bottom: -100px;
}

.contact_VMA{
     height: 400px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.lien_site_VMA{
     padding: 20px;
     margin-left: 35%;
}

.header_pascalis{
     height: 200px;
     width: 700px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.grid_pascalis{
     height: 400px;
     width: 600px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.Pascalis p{
     width: 550px;
     height: 300px;
     padding: 20px;
     /*margin-top: 60px;
     margin-left: 200px;*/
     margin: auto;
}

.Edition_Morel p{
     width: 550px;
     height: 200px;
     padding: 20px;
     /*margin-top: 60px;
     margin-left: 200px;*/
     margin: auto;
}

.Morel_4_1{
     width: 550px;
     height: 100px;
     margin: auto;
}

.blog_morel{
     height: 500px;
     width: 500px;
     display: flex;
     flex-direction: column;
     margin: auto;
     margin-bottom: 100px;
}

.lien_documentation{
     margin: auto;
     text-align: center;
}

/*Footer*/
footer {
     margin-bottom: -16px;
     background: #F0F0F3;
     color: #E8E8E8;
     text-align: center
}
   
@media screen and (max-width: 300px) {
     .container_footer {
     height: 50vh;
     }
}

.container_footer {
     background: #001845;
     height: 10vh;
     width: 100%;
}

.background_footer {
     width: 100%;
     position: absolute;
     left: 0;
     margin-top: -240px;
     display: block;
}

.contenu_footer {
     position: relative;
     z-index: 1000;
}


@media screen and (max-width: 900px) {
     .kathekon h4 {
     font-size: 30px;
     }
   }

